* {
    margin:0;
    padding:0;
}

/* 
RED COLOR CODE: DE3163
PURPLE COLOR CODE: AF69EE
YELLOW COLOR CODE: #FFFF9F
PINK COLOR CODE: #F79AC0
BLUE COLOR CODE: #82EEFD
DARK RED COLOR CODE: #750000
*/

body {
    position: relative;
    font-family: "Courier", "Arial", "Goudy Type", "Calibri",sans-serif;
    font-size: 32px;
    background-color: #F79AC0;
    color: #750000;
}

footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    border-top: 7px solid #750000;
    background-color: #DE3163;
    color: #750000;
}

header {
    position: static;
    border-bottom: 7px solid #750000;
    background-color: #DE3163;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
    font-family: "Courier", sans-serif;
    font-style: italic;
    font-size: 30px;
    padding: 50px;
    color: #750000;
}

a1 {
    text-decoration: none;
    font-family: "Courier", sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #750000;
}

p {
    font-size: 24px;
    padding: 5px;
}

.flex-container1 {
    margin: auto;
    display: block;
    max-width: 800px;
    width: 100%;
    /*object-position: center;
    flex-wrap: wrap;
    justify-content: center;*/
}

h1 {
    padding-top: 10px;
}

h2 {
    padding-top: 10px;
}

.HeadShot {
    position: relative;
    margin: auto;
    display: block;
    max-width: 400px;
    width: 100%;
    border: 4px solid #750000;
}

.Hor-Site {
    position: relative;
    max-width: 800px;
    width: 100%;
    margin-top: 25px;
    border: 4px solid #750000;
}

.DG-Site {
    position: relative;
    max-width: 800px;
    width: 100%;
    margin-top: 25px;
    border: 4px solid #750000;
}

.Macro-Site {
    position: relative;
    max-width: 800px;
    width: 100%;
    margin-top: 25px;
    border: 4px solid #750000;
}

/* Positioning */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}